<div class="login-container">
    <mat-form-field appearance="fill" class="login-field">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="username" placeholder="Enter your username" />
    </mat-form-field>
  
    <mat-form-field appearance="fill" class="login-field">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password" type="password" placeholder="Enter your password" />
    </mat-form-field>
  
    <button mat-raised-button color="primary" (click)="login()">Login</button>
  
    <div *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </div>
  </div>
  